* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
}

.jumbotron {
    background: #e7e7e7;
}

.form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form input {
    width: 95%;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid silver;
    margin: 8px 0 0 20px;
}

.form p {
    font-weight: 700;
    margin: 10px 0 0 30px;

}
.btn-primary{
    margin: 10px 0;
}
