.doYouKnowWrapper {
  width: 1250px;
  height: 692px;
  margin: 0 auto;
  padding: 114px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.doYouKnowContentWrapper {
  width: 509px;

  h2 {
    font-family: OpenSans-Bold;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.42px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
  }

  p {
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    margin: 50px 0 58px 0;
  }
}

.learnMoreButt {
  width: 223px;
  height: 51px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  outline: none;
  background: white;
  color: #ff2d2d;
  font-family: OpenSans-Bold;
  font-size: 18px;
}

.doYouKnowProposalWrapper {
  width: 637px;
  height: 484px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    height: 213px;
    width: 292px;
    margin: 0 0 49px 0;

    h6 {
      font-family: OpenSans-SemiBold;
      font-size: 24px;
      letter-spacing: 0.24px;
      color: rgba(0, 0, 0, 0.7);
      margin: 30px 0 17px 0;
    }

    p {
      font-family: OpenSans;
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.bigSilverHr {
  width: 1250px;
  height: 2px;
  margin: 0 auto;
  background: #ececec;
  border: none;
}