/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: OpenSans-Bold;
  src: url("style/fonts//Open Sans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("style/fonts//Open Sans/OpenSans-ExtraBold.ttf"); }
@font-face {
  font-family: OpenSans;
  src: url("style/fonts//Open Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: OpenSans-Light;
  src: url("style/fonts//Open Sans/OpenSans-Light.ttf"); }
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("style/fonts//Open Sans/OpenSans-Semibold.ttf"); }
.headerFullScreen {
  height: 690px;
  background: #f6f2f2;
  padding: 30px 0 0 0; }

.headerContentWrapper {
  width: 1250px;
  height: 356px;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between; }

.headerContentTextWrapper {
  width: 588px;
  height: 117px; }
  .headerContentTextWrapper h1 {
    font-family: OpenSans-ExtraBold;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase; }
  .headerContentTextWrapper p {
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    margin: 36px 0 58px 0; }

.contactUsButt {
  width: 227px;
  height: 55px;
  border-radius: 5px;
  background: #ff2d2d;
  border: none;
  outline: none;
  color: white;
  font-family: OpenSans-Bold;
  font-size: 18px; }

.headerContentVideoWrapper {
  width: 551px;
  height: 356px; }
  .headerContentVideoWrapper video {
    width: 551px;
    height: 311px;
    box-shadow: 0px 10px 30px 10px silver; }

.navWrapper {
  width: 1250px;
  height: 90px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto; }

.categoriesWrapper {
  height: 100%; }
  .categoriesWrapper ul {
    height: 100%;
    display: flex;
    justify-content: center; }
    .categoriesWrapper ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      color: #e0e0e0;
      text-transform: uppercase;
      font-family: OpenSans-Bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.49px; }

.doYouKnowWrapper {
  width: 1250px;
  height: 692px;
  margin: 0 auto;
  padding: 114px 0 0 0;
  display: flex;
  justify-content: space-between; }

.doYouKnowContentWrapper {
  width: 509px; }
  .doYouKnowContentWrapper h2 {
    font-family: OpenSans-Bold;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.42px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase; }
  .doYouKnowContentWrapper p {
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    margin: 50px 0 58px 0; }

.learnMoreButt {
  width: 223px;
  height: 51px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  outline: none;
  background: white;
  color: #ff2d2d;
  font-family: OpenSans-Bold;
  font-size: 18px; }

.doYouKnowProposalWrapper {
  width: 637px;
  height: 484px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .doYouKnowProposalWrapper div {
    height: 213px;
    width: 292px;
    margin: 0 0 49px 0; }
    .doYouKnowProposalWrapper div h6 {
      font-family: OpenSans-SemiBold;
      font-size: 24px;
      letter-spacing: 0.24px;
      color: rgba(0, 0, 0, 0.7);
      margin: 30px 0 17px 0; }
    .doYouKnowProposalWrapper div p {
      font-family: OpenSans;
      font-size: 16px;
      line-height: 28px; }

.bigSilverHr {
  width: 1250px;
  height: 2px;
  margin: 0 auto;
  background: #ececec;
  border: none; }

/*# sourceMappingURL=main.css.map */
