@font-face {
  font-family: OpenSans-Bold;
  src: url("style/fonts/Open Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("style/fonts//Open Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("style/fonts//Open Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("style/fonts//Open Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("style/fonts//Open Sans/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: OpenSans-Italic;
  src: url("style/fonts//Open Sans/OpenSans-Italic.ttf");
}