.getInTouchWrapper {
  width: 1250px;
  margin: 106px auto 0 auto;
}

.getInTouchTitleText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    font-family: OpenSans-Bold;
    font-size: 42px;
    letter-spacing: 0.42px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
  }

  p {
    width: 720px;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    margin: 51px 0 54px 0;

  }
}

.contactInfoWrapper {
  margin: 75px 0 0 0;
  position: relative;
}

.sendMailForm {
  width: 732px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  input {
    width: 290px;
    height: 69px;
    border-radius: 5px;
    padding: 0 0 0 49px;
    border: none;
    background: #e5e5e5;
    font-family: OpenSans;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
  }

  textarea {
    width: 680px;
    height: 214px;
    border-radius: 5px;
    margin: 46px 0 45px 0;
    border: none;
    outline: none;
    padding: 35px 0 0 51px;
    background: #e5e5e5;
    font-family: OpenSans;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
  }

  button {
    width: 731px;
    height: 72px;
    border: none;
    outline: none;
    background: #ff3b3b;
    font-family: OpenSans-Bold;
    font-size: 18px;
    letter-spacing: 0.45px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
  }
}

.contactInfoBlackBlockWrapper {
  width: 4000px;
  height: 481px;
  background: #2d2d2d;
  position: absolute;
  top: 0;
  left: 838px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h5 {
    font-family: OpenSans-Bold;
    font-size: 18px;
    letter-spacing: 0.45px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin: 0 0 0 79px;
  }

  p {
     width: 285px;
     font-family: OpenSans;
     font-size: 16px;
     line-height: 28px;
     color: rgba(255, 255, 255, 0.8);
     margin: 0 0 0 79px;
   }

}